{
  "env": {
    "jest": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": ["airbnb-base"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "no-unused-vars": "warn",
    "max-len": ["error", { "code": 120 }],
  }
}
