{
  "env": {
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "prettier"],
  "extends": ["plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "no-unused-vars": "warn"
  }
}
